[package]
name = "derisc0"
version = "0.1.0"
edition = "2021"

[features]
std = ["risc0-zkvm/std"]

[dependencies]
derisc0-macros = { path = "../derisc0-macros" }
risc0-zkvm = { version = "0.16.1", default-features = false }
